.nav-table-widget-container {
  display: flex;
  padding: 0px;
  margin-left: 250px;
}

.nav-table-order {
  display: flex;
}

.table-shape {
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 2000px;
  flex-direction: column;
  margin-left: 10px;
}

.text-status {
  display: flex;
  flex-direction: column;
  text-align: center;
}
